body {
  width: 100%
}

img {
  width: 20%;
  height: auto;
}

.display-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 1px;
  width: 50%;
  margin: 0 auto;
  padding: 10px
}

favcountries {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
